$title
pk-molecule2-w1l
$operating system unix
$symmetry c1
$coord    file=coord
$user-defined bonds    file=coord
$atoms
ce 1                                                                           \
   basis =ce def-SV(P)                                                         \
   ecp   =ce def-ecp
n  2-5                                                                         \
   basis =n def-SV(P)
c  6,8,10-12,16,18,20,24,28,32,36,40,44,48,52                                  \
   basis =c def-SV(P)
h  7,9,13-15,17,19,21-23,25-27,29-31,33-35,37-39,41-43,45-47,49-51,53-55,57    \
   basis =h def-SV(P)
o  56                                                                          \
   basis =o def-SV(P)
$basis    file=basis
$ecp    file=basis
$newecp
$rundimensions
   dim(fock,dens)=128085
   natoms=57
   nshell=224
   nbf(CAO)=504
   nbf(AO)=460
   dim(trafo[SAO<-->AO/CAO])=593
   rhfshells=2
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$alpha shells
 a       1-99                                   ( 1 )
$beta shells
 a       1-98                                   ( 1 )
$scfiterlimit       500
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=500      size=0        file=twoint
$scfdiis
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$optimize
   internal   off
   cartesian  on
   global     off
   basis      off   logarithm
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$lock off
$dft
   functional pbe0
   gridsize   m3
$scfconv   6
$scfdamp   start=0.700  step=0.050  min=0.050
$scforbitalshift  closedshell=.05
$last step     dscf
$statistics  off parallel
$2e-ints_shell_statistics    file=metastase
$last SCF energy change = -.56767840E-06
$charge from dscf
          0.000 (not to be modified here)
$dipole from dscf
  x    -0.08589084478217    y     0.12324585174110    z     0.00150047454190    a.u.
   | dipole | =    0.3818492526  debye
$2e-ints'_shell_statistics
  file=metastase
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.11759902165936E-03
$end
