$title
Yb-precursor1-w1l
$operating system unix
$symmetry c1
$coord    file=coord
$user-defined bonds    file=coord
$atoms
n  1-5,64                                                                      \
   basis =n def-SV(P)
c  6,8,10-12,16,18,22,24,28,32,36,40,44,48,52,56,60                            \
   basis =c def-SV(P)
h  7,9,13-15,17,19-21,23,25-27,29-31,33-35,37-39,41-43,45-47,49-51,53-55,57-59 \
   61-63                                                                       \
   basis =h def-SV(P)
yb 65                                                                          \
   basis =yb def-SV(P)                                                         \
   ecp   =yb def-ecp
$basis    file=basis
$ecp    file=basis
$newecp
$rundimensions
   dim(fock,dens)=157408
   natoms=65
   nshell=252
   nbf(CAO)=559
   nbf(AO)=512
   dim(trafo[SAO<-->AO/CAO])=654
   rhfshells=1
$scfmo   file=mos
$closed shells
 a       1-116                                  ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$optimize
   internal   off
   cartesian  on
   global     off
   basis      off   logarithm
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$lock off
$dft
   functional pbe0
   gridsize   m3
$scfconv   6
$scfdamp   start=0.700  step=0.050  min=0.050
$last step     dscf
$statistics  off parallel
$2e-ints_shell_statistics    file=metastase
$last SCF energy change = -.12144255E-06
$charge from dscf
          0.000 (not to be modified here)
$dipole from dscf
  x    -0.00509693649838    y     0.00022447376477    z     0.00003310405009    a.u.
   | dipole | =    0.0129680491  debye
$2e-ints'_shell_statistics
  file=metastase
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.13868327928151E-03
$end
